@font-face {
    src: url(fonts/IBMPlexMono-Medium.ttf);
    font-family: ibm;
  }
  
  
  @font-face {
    src: url(fonts/Comfortaa-Regular.ttf);
    font-family: comfortaa;
  }
  
  @font-face {
    src: url(fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
  }

  @font-face {
    src: url(fonts/HomemadeApple-Regular.ttf);
    font-family: homemadeapple;
  }
  
  :root {
    --primary-color: #ff6f7d;
    --background-color: #4e4d4d;
    --text-color: #fff;
    --gray-color: #a3a3a3;
    --dark-color: #161616;
  }
  
  
  
  body {
    background-color: #1b1b1b;
    height: 100vh;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    left: -20%;
  }


  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 30%;
    height: 50%;
    background-color: var(--dark-color);
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    left: 60%;
    bottom: 30%;
  }

  .info-container p {
    font-family: poppins;
    font-size: 30px;
    color: #fff;
    
  }

  .color-slider {
    margin-top: 10px;
    border: 1px solid transparent;
  }
  
  #hexInput {
    margin-top: 10px;
    border-radius: 20px;
    border-color: transparent;
    background-color: var(--primary-color);
    font-family: poppins;
    height: 40px;
    width: 200;
  }


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb {
  background-color: #fff; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff; 
}



  @media only screen and (max-width: 600px) {
    
    .info-container {
      width: 80%;
      height: 20%;
      left: 10%;
    }
    .color-container {
      left: 2%;
    }
    .info-container p {
      font-size: 10px;
    }

    .info-container {
      top: 5%;
    }
  }


  @media only screen and (max-height: 600px) {
    
    .info-container {
      width: 80%;
      height: 20%;
      left: 10%;
    }
    .color-container {
      top: 10%;
      left: 2%;
    }
    .info-container p {
      font-size: 10px;
    }

    .info-container {
      top: 5%;
    }
  }

 

  @media only screen and (max-width: 700px) {
    
    .info-container {
      width: 80%;
      height: 20%;
      left: 10%;
    }
    .color-container {
      left: 2%;
    }
    .info-container p {
      font-size: 15px;
    }

    .info-container {
      top: 5%;
    }
  }


  @media only screen and (min-height: 800px) and (min-width: 600px) {
    
    .info-container {
      width: 80%;
      height: 20%;
      left: 10%;
    }
    .color-container {
      left: 2%;
    }
    .info-container p {
      font-size: 30px;
    }

    .info-container {
      top: 5%;
    }
  }
